.fixed-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 81px;
}

ul {
  display: flex;
  align-items: center;
  gap: 80px;
}

header {
  background-color: #fff2e1;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.fixed-nav ul li a {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #252641;
  transition: ease-in 0.2s all;
}

.fixed-nav ul li a:hover {
  border-bottom: 2px solid #252641;
  font-weight: 500;
  font-size: 21.8px;
}
.fixed-nav ul li button {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #6c6c6c;
  padding: 13px 49px 14px 50px;
  border-radius: 80px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

.fixed-nav .sign {
  padding: 13px 36px 14px 37px;
  background-color: #f48c06;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2%;
}

.fixed-nav button:hover {
  box-shadow: 0px 20px 24px 0px #00000008;
}

h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
}

nav:nth-child(2) p {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #464646;
  margin-top: 34px;
  margin-bottom: 52px;
}

nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.vatch {
  display: flex;
  gap: 40px;
  align-items: center;
}

.vatch button:nth-child(1) {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  padding: 22px 38px;
  background-color: #f48c06;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.vatch button:nth-child(1):hover {
  box-shadow: 0px 20px 24px 0px #00000008;
}

.vatch button:nth-child(2) {
  color: #23bdee;
  padding: 24px 26px 22.67px 26px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 20px 60px 0px #3d9bb91a;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.vatch p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #252641;
}

.vatch button:nth-child(2):hover {
  animation: scale 0.8s ease-in-out infinite alternate;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
    